{% extends './base.html' %}
{% include './navbar.html' %}

{% block educacao %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Educação</h2>
      
      {% for _, item in data.education.items() %}
      {% if _ != 'reference' %}
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">{{ item.institution }}</h3>
          <div class="subheading mb-3">{{ item.program }}</div>
          <div>{{ item.description }}</div>
          <p>{{ item.gpa }}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ item.from }} - {{ item.to }}</span>
        </div>
      </div>
      {% else %}
      <p>For a detailed reference about this section, please visit <a href="{{ item }}" target="_blank">this link</a>.</p>
      {% endif %}
      {% endfor %}
    </div>
  </section>

{% endblock %}